* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


header {
    background-color: rgb(0, 0, 0);
    display: grid;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-size: 3 rem;

}

.logo {
    max-width: 5rem;
    background-color: transparent;
    padding: 0;

}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: aliceblue;

}

.abrir-menu,
.cerrar-menu {
    display: none;
}

main {
    background-color: rgb(246, 246, 247);
    box-sizing: border-box;
    display: grid;

}


footer {
    margin-top: 1rem;
    font-size: 2rem;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
}

.header{
    grid-area:header;
}

.main{
    grid-area: main;
}

.sectio1{
    grid-area: article2;
}

.section{
    grid-area: avances;
}

.footer{
    grid-area: footer;
}

#grid-contenedor {
 display: grid;
 gap: 1rem;
 grid-template-columns: 1fr 1fr;
 grid-template-areas: 
 "header header header header header"
 "main main main main main"
 "img img article2 article2 article2"
 "avances avances avances avances avances"
 "footer footer footer footer"
 ;
}

@media (min-width: 600px){
    #grid-contenedor{
        grid-template-areas: 
        "header header header header header"
        "main main main main main"
        "img img article2 article2 article2"
        "avances avances avances avances avances"
        "footer footer footer footer"
        ;
    }
}

@media (min-width: 1500px){
    #grid-contenedor{
        grid-template-areas: 
        "header header header header header"
        "main main main main main"
        "img img article2 article2 article2"
        "avances avances avances avances avances"
        "footer footer footer footer"
        ;
    }
}

 




