* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


header {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-size: 3 rem;
    grid-area: header;
}

.logo {
    max-width: 5rem;
    background-color: transparent;
    padding: 0;

}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: aliceblue;

}



.abrir-menu,
.cerrar-menu {
    display: none;
}

p {
    font-family: 'Gabarito', cursive;
    font-size: 1rem;
    margin: 1rem 2rem;
    text-align: center;
}

#grid-entradas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
        "box1 box1 box1"
        "box2 box2 box2"
        "box3 box3 box3"
        "box4 box4 box4"
        ". box5 ."
        "compra compra compra"
        "footer footer footer";
}

.box-1, .box-2, .box-3, .box-4, .box-5{
    text-align: center;
    background-color: rgb(255, 204, 49);
    height: 10rem;
}

.poster{
    height: 10rem;
}

.box-1 {
    grid-area: box1;
}

.box-2 {
    grid-area: box2;
}

.box-3 {
    grid-area: box3;
}

.box-4 {
    grid-area: box4;
}

.box-5 {
    grid-area: box5;
}

.compra{
    grid-area: compra;
    display: flex;
    flex-wrap: wrap;
}

.botones{
    margin-top: 0.5rem;
}

.botones >*{
    margin-top: 1rem;
    margin-right: 1rem;
}

#formulario>*{
    width: 25rem; 
    height: 6rem;
    display: block; 
    margin-left: 0px;
    margin-right: 0px;
}

#formulario, #formulario > *{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

.contenedor-cantidad{
    height: 2rem;
    margin-top: 1.5rem;
}

.entrada{
    text-align: center;
    color: antiquewhite;
}

footer {
    margin-top: 1rem;
    font-size: 2rem;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
    grid-area: footer;
    gap: 0.5rem;
}


@media (min-width: 1100px){
    #grid-entradas{
        grid-template-areas:
        "box1 box1 box1"
        "box2 box3 box4"
        ". box5 ."
        "compra compra compra"
        "footer footer footer";
    }
}

@media (min-width: 1500px){
    #grid-entradas{
        grid-template-areas:
        "box1 box1 box1"
        "box2 box3 box4"
        "box5 box5 box5"
        "compra compra compra"
        "footer footer footer";
    }
}

@media screen and (max-width : 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
        color: aliceblue;

    }

    .nav {
        opacity: 0;
        visibility: hidden;
    }

    .nav {

        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(88, 88, 88);
        padding: 1.5rem;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);

    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }
}