* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


header {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    font-size: 3 rem;

}

.logo {
    max-width: 5rem;
    background-color: transparent;
    padding: 0;

}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    color: aliceblue;

}

.abrir-menu,
.cerrar-menu {
    display: none;
}

main {
    background-color: rgb(246, 246, 247);
}

.article1, .article2{
    width: auto;
    height: auto;
    background-color: rgb(52, 52, 51);
    border-radius: 5px;
    display: flex;
    margin: 0;
    margin-top: 20px;
    color: antiquewhite;

}

.img-container {
    width: 40%;
}

.text-container {
    width: 60%;
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 10px 0px;
}

h2,h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 0.5rem;
}

.informacion-pelis{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

p{
    font-family: 'Gabarito', cursive;
    font-size: 1rem;
    margin: 1rem 2rem;
    text-align: center;
}

.lista-img{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(10, 1fr);
}

.lista-img-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lista-img-main > *{
    margin: 1rem;
}

li{
    list-style-type: none;
}

.slider-container{
    display: flex;
    justify-content: center;
}

.slider {
    margin: 0.2rem 3rem;
    width: 90%;
    padding: 1rem;
    transition: all 0.4s ease;
    border-radius: 2rem;
    background-color: rgb(39, 39, 39);
    overflow: hidden;
    box-sizing: border-box;
    max-width: 1230px;
    min-width: 525px;
  }
  
  .slider .lista-img {
    width: 100%;
    padding: 1rem;
    transition: all 0.5s ease;
    border-radius: 2rem;
    transition: all 0.5s ease;
    transform: translateX(0%);
  }

.item-img{
    height: 20rem;
    display: block;
    object-fit: cover;
    object-position: center center;
}

.item-img-main{
    height: 13rem;
    display: block;
    object-fit: cover;
    object-position: center center;

}

.item-img-main:hover{
    box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.562);
}

.slider .puntos {
    width: 100%;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .slider .punto.activo {
    background-color: #f9ce00;
  }

  .slider .punto {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 1rem;
    transition: all 0.5s ease;
    border-radius: 50%;
    background-color: black;
  }

.fa-brands{
    margin-left: 1rem;
}

@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
  
}

footer {
    margin-top: 1rem;
    font-size: 2rem;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 39, 39);
}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.article1{
    grid-area: article1;
}

.article2{
    grid-area: article2;
}

.section{
    grid-area: section;
}

.footer{
    grid-area: footer;
}

#grid-contenedor > *{
    box-sizing: border-box;
}

#grid-contenedor{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "header header"
    "main main"
    "article1 article1"
    "article2 article2"
    "section section"
    "footer footer"
    ;
}

@media (min-width: 600px){
    #grid-contenedor{
        grid-template-areas: 
        "header header"
        "main main"
        "article1 article2"
        "article1 article2"
        "section section"
        "footer footer"
        ;
    }
}

@media (min-width: 1500px){
    #grid-contenedor{
        grid-template-areas: 
        "header header"
        "main article1"
        "main article2"
        "section section"
        "footer footer"
        ;
    }
}


@media screen and (max-width: 1350px) {
    .slider .puntos {
      display: none;
    }
    .slider{
        overflow-x: auto;
    }
  }

@media screen and (max-width : 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
        color: aliceblue;

    }

    .nav {
        opacity: 0;
        visibility: hidden;
    }

    .nav {

        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(88, 88, 88);
        padding: 1.5rem;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, .5);

    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }
}